{% extends "base.html" %}
{% block title %}pgBackground: Run SQL in the Background{% endblock %}
{% block content %}

<h1>pgBackground: Postgres Background Worker</h1>

<table width=950 border=0>
<tr>
<td width=100><center><img width=75 src="{{ url_for('static',filename='img/pg_background.png')}}"></center></td>
<td width=850>
pg_background is an extension for PostgreSQL 9.5+
that allows user to execute an arbitrary command in a background worker.
<p>
<ul>
   <li>VACUUM in background</li>
   <li>Autonomous transaction implementation (better than the dblink way).</li>
   <li>Allows to perform task like CREATE INDEX CONCURRENTLY from a procedural language</li>
</ul>
</tr>
<tr>
<td></td>
<td>

This module comes with the following SQL APIs:

<ul>
    <li><code>pg_background_launch()</code> : take SQL command, which user wants to execute, and size of queue buffer. This function returns the process id of background worker.</li>
    <li><code>pg_background_result()</code> : take process_id as input parameter and returns the result of command executed throught the background worker.</li>
    <li><code>pg_background_detach()</code> : take process_id and detach the background process which is waiting for user to read its results.</li>
</ul>

<h3>Installation</h3>
Install the extension using our <a href="{{config['APPLICATION_ROOT']}}/pgdevops/">pgDevops web console</a> or the <a href="{{config['APPLICATION_ROOT']}}/docs/pgcli/pgcli.jsp">pgc command line interface</a>.

<p>Next use <i>psql</i> to activate the extension in a particular database:

<pre><code class="bash">$ psql -h hostname -p 5432 -c "CREATE EXTENSION pg_background;" mydb
</code></pre>

<h3>Example Usage</h3>
Execute the command asynchronously and then fetch the result later:

<pre><code class="sql">mydb=# SELECT pg_background_launch('vacuum verbose public.sales');
 pg_background_launch 
----------------------
                11088


mydb=# SELECT pg_background_result(11088);

INFO:  vacuuming "public.sales"
INFO:  index "sales_pkey" now contains 0 row versions in 1 pages
DETAIL:  0 index row versions were removed.
...
</code></pre>

<p>&nbsp;<p>
Execute the command synchronously:

<pre><code class="sql">mydb=# SELECT pg_background_result(pg_background_launch('vacuum verbose public.sales'));

INFO:  vacuuming "public.sales"
INFO:  index "sales_pkey" now contains 0 row versions in 1 pages
DETAIL:  0 index row versions were removed.
...
</code></pre>

<h3>Expert Support</h3>
Checkout the 
<a href="http://www.openscg.com/services/">services offered by our sponsor</a>.
</td>
</tr>
</table>

<p>&nbsp;

{% endblock %}
