{% extends "base.html" %}
{% block title %} Page not found {% endblock %}
{% block content %}
    <div id="bg">
       <img src="{{ url_for('static',filename='img/ELE-10.jpg')}}" alt="">
    </div>

<div id="home-wrapper" class="row">
<div class="col-md-6 col-sm-12 col-xs-12">
  <h1>Sorry.</h1>
  <h3>We couldn't find that page. But maybe you're looking for one of these:</h3>
  <div class="home-button-wrapper">
    <a class="btn btn-info btn-lg" id="hm-dl-btn" href="{{config['APPLICATION_ROOT']}}/postgresql/installers">Download</a>
    <a class="btn btn-info btn-lg" id="hm-ab-btn" href="{{config['APPLICATION_ROOT']}}/about">Read More</a>
  </div>
</div>

</div>
 {% endblock %}