{% extends "base.html" %}
{% block title %}BigSQL Downloads{% endblock %}
{% block content %}
{% if not request.args.get('file') %}
No file specified for download.
{% endif %}
{% if request.args.get('file') %}
{% if request.args.get('file') != "NO_DOWNLOAD" %}
  {% set download_url=config['download-link']+request.args.get('file') %}
{% else %}
  {% set download_url='#' %}
{% endif %}

<div class="row">
<div class="col-md-9 col-sm-12 col-xs-12">
<h1>Download</h1>

<p>Your download should begin automatically in a few seconds.
If it does not, please <a class="ul" href={{download_url}} >click here</a>

<p>

<!---
<table width=600><tr><td><center>
Sponsored by<br>
<a href="https://aws.amazon.com/rds/aurora/?&trk=ba_a131L000005uZKeQAM&trkCampaign=pac_q1_0318_PDP_Aurora&sc_channel=ba&sc_campaign=pac_q1_03_19_banner_BigSQL_Aurora_RDS&sc_outcome=PaaS_Digital_Marketing&sc_geo=NAMER&sc_country=mult&sc_publisher=Others
.org">

<img width=200 src="../static/img/banner_apg.jpg"></a>

---!>

</center></td></tr></table>

</div>
</div>

</div>
{% if "NO_DOWNLOAD" != request.args.get('file') %}
  <meta http-equiv="refresh" content="2; url={{ download_url }}">
{% endif %}
{% endif %}
{% endblock %}
