{% extends "base.html" %}
{% include "/docs/include_docs.html" %}
{% block title %} Cassandra JDBC {% endblock %}
{% block content %}
<h1>Cassandra JDBC</h1>

<table width=950 border=0 cellpadding=5>

  <tr>
    <td width=110><img height=100 width=100 src="{{ url_for('static',filename='img/cassandra-jdbc.png')}}"></td>
    <td>
      <p>
      <font size=+1>
        This Cassandra JDBC Driver implements a robust subset of the JDBC specification as appropriate for 
        use with C*2+ & JDK7+.   
        <p>
        <a href="{{config['APPLICATION_ROOT']}}/oscg_download_skinny?file=bsql-bits2/bigsql/cassandra-jdbc-2.1-2.zip">
             <b>Download cassandra-jdbc-2.1-2</b></a>&nbsp;&nbsp;<font color=red></font>
        <p>
        <a href="https://bitbucket.org/openscg/cassandra2-jdbc/src">Source Code</a>&nbsp;&nbsp;&nbsp;
        <a href="https://bitbucket.org/openscg/cassandra2-jdbc/issues?status=new&status=open">Issue Tracker</a>

        <h3>Features</h3>
        <ul>
          <li>Cassandra 2.x & 3.x  compatibility</li>
          <li>Examples and Lib directories demonstrating usage</li>
          <li>Cluster topology discovery</li>
          <li>Round robin connection scheme</li>
          <li>Primary and Backup DC configuration through JDBC URL</li>
        </ul>

        <h3>Sample Code</h3>
      </font>

<pre><code class="java">
import java.sql.Connection;
import java.sql.PreparedStatement;

...

Class.forName("org.bigsql.cassandra2.jdbc.CassandraDriver");
Connection con = DriverManager.getConnection
  ("jdbc:cassandra://host1--host2--host3:9160/keyspace1?primarydc=DC1&backupdc=DC2&consistency=QUORUM");

String query = "UPDATE Test SET a=? WHERE KEY=?";
PreparedStatement statement = con.prepareStatement(query);

statement.setLong(1, 100);
statement.setString(2, "key0");

statement.executeUpdate();

statement.close();
</code></pre>

  </tr>

</table>

<p>&nbsp;
{% endblock %}
