<div class="panel-heading">
  <h3 class="panel-title">
    Postgres 11.6 & 12.1 
  </h3>

</div>
<div class="panel-body">
    </tr></table>
            <ul class="media-list">
                <li class="media">
                    <div class="media-left"> 
<img class="media-object" height=25 width=25 src="{{ url_for('static',filename='img/linux.png')}}"></div>
                    <div class="media-body">
                        <a href="{{config['APPLICATION_ROOT']}}/package-manager">Linux CLI Package Manager</a>
                    </div>
                </li>
            </ul>
</div>
