<html>
<title>PGCENTRAL: Home</title>

{% include "/pgc/pgc_menu.html" %}

<table width=625><tr><td>
A free & 100% Open Source PostgreSQL distribution that is friendly for Open Source Savvy Web Application Developers (OSSWADs).  Available as One-click installers and relocatable tarballs.

<br><center><img src="{{ url_for('static',filename='img/pgc/jumbo6.png')}}"></center>

<ul>
  <li>Freely download and install without commercial interruption</li>
  <li>Command line api for installation, configuration & service control.
  <li>Framework support for Python, Perl & Java</li>
  <li>Developer friendly & suitable for production operations</li>
  <li>Desktop Command & Control App</li>
  <li>Built with a 100% Open Source tool chain</li>
</ul>

</td></tr></table>

</html>

