<html>
<title>pgCentral Components</title>

{% include "/pgc/pgc_menu.html" %}

<p>&nbsp;<p>

<table border=1 cellpadding=10>
 <tr><td width=125><b>Extensions</b></td>
     <td width=125><b>Applications</b></td>
     <td width=125><b>Frameworks</b></td>
     <td width=125><b>Foreign</b></td>
 </tr>
 <tr>
  <td>
    <ul>
      <li>postgis</li>
      <li>pldebugger/profiler</li>
      <li>orafce</li>
      <li>pgshard</li>
      <li>hypopg</li>
    </ul>
  </td>

  <td>
    <ul>
      <li>pgbouncer</li>
      <li>pgstudio</li>
      <li>pgadmin3</li>
      <li>pgbadger</li>
      <li>ora2pg</li>
    </ul>
  </td>

  <td>
    <ul>
     <li>python</li>
     <li>perl</li>
     <li>java</li>
     <li>ruby</li>
     <li>gcc</li>
    </ul>
  </td>

  <td>
    <ul>
     <li>cassandra</li>
     <li>hadoop</li>
     <li>mongo</li>
     <li>mysql</li>
     <li>oracle</li>
    </ul>
  </td>

</tr></table>

</html>

