
<table border=0 cellspacing=0 cellpadding=0>
  <tr><td><center><img src="{{ url_for('static',filename='img/pgc/pgc_top.png')}}"></center></td></tr>

  <tr><td><center>
    <table border=0 cellspacing=0 cellpadding=2 background="images/menu_background.png')}}">
     <tr><td></td></tr>
      <tr>
        <td width=520>&nbsp;
          <a href="index">Home</a> &nbsp;&nbsp;
          <a href="{{config['APPLICATION_ROOT']}}/postgresql/installers">Downloads</a> &nbsp;&nbsp;
          <a href="{{config['APPLICATION_ROOT']}}/docs">Documentation</a> &nbsp;&nbsp;
          <a href="coming_soon">Tuning</a> &nbsp;&nbsp;
          <a href="../components">Components</a>
        </td>
        <td width=98 >
          <a href="http://www.openscg.com/postgresql">Our Sponsor</a> &nbsp;&nbsp;
        </td>
      </tr>
     <tr><td></td></tr>
    </table>
  </center></td></tr>
</table>
&nbsp;

