{% extends "base.html" %}
{% block title %}BigSQL Greenplum{% endblock %}
{% block content %}

<h1><font size=+3>BigSQL Greenplum</font>: Proven Petabyte Scale Data Lakes</a></h1>

<table><tr>

<td><center><img src='/bigsql/static/img/opengpdb.png' /></center></td>

<td>
The use of these Open Source Greenplum binaries is soley governed by the <a href="https://opensource.org/licenses/Apache-2.0">Apache License</a>.  No endorsement or affiliation with Pivotal&reg; is claimed.
<p>&nbsp;<p>
Our community enterprise-class binaries are built from source at <a href="https://github.com/greenplum-db">https://github.com/greenplum-db</a>.
Learn more at <a href="http://greenplum.org/docs">greenplum.org/docs</a>.
</td> 

</tr></table>

<h3>Installation <font size=+1 color=red>New! Dec 27 - v5.3.0</font></h3>

<h4>It's easy to get started with a single-node cluster on CentOS 7.  With a few  simple commands you'll be up and running with a powerful sandbox in one minute.</h4>

<br>
1.) From your $HOME directory, as a non-root user, run this command to install our package manager
<pre><code class="bash">python -c "$(curl -fsSL https://s3.amazonaws.com/pgcentral/install.py)"</code></pre>
<br>
2.) Change into the $HOME/bigsql directory and install GPDB
<pre><code class="bash">pgc install gpdb5</code></pre>
<br>
3.) Start the single node cluster (it will initialize automagically the first time)
<pre><code class="bash">pgc start gpdb5</code></pre>

<p>&nbsp;<p>
{% endblock %}
