{% extends "base.html" %}
{% block content %}

<h1>About Postgres by BigSQL</h1>
<p><strong>Postgres by BigSQL is complete.</strong> At its core, BigSQL is a PostgreSQL distribution. But in addition to the core PostgreSQL database, BigSQL is integrated with more than 20 open source projects that make it easier to do Postgres development, integration, scale-out, and management, as well as migrations from proprietary databases.</p>
<p>All BigSQL components are 100% Open Source, tested to work together, and include many of the leading Postgres-centric projects today. 

<p><strong>Postgres by BigSQL is developer-friendly.</strong> Unlike some Postgres distributions, BigSQL&#8217;s toolchain is 100% open source, with no commercial dependencies. Binaries are Relocatable. Installs and uninstalls happen cleanly.</p>
<p>BigSQL's goal is to make things easy for PostgreSQL developers, DBAs, and operations teams, and to always "just work". Some additional key points:</p>
<ul>
<li>No commercial components</li>
<li>No dependencies on proprietary software</li>
<li>No OS-dependencies, like DLL conflicts, registry entries, etc.</li>
</ul>

<p>

{% endblock %}
