{% extends "base.html" %}

{% block content %}

<h1>pgAdmin3 LTS by BigSQL</h1>

<p>As v1.0 of pgAdmin4 was released in September of 2016, the pgAdmin Development 
Team decided to no longer support pgAdmin III with any more fixes.  
We believe that pgAdmin3 usage should fade out over time and 
have forked <a href=https://bitbucket.org/openscg/pgadmin3-lts>the code</a> to include 
basic support for PostgreSQL 9.6+. 

<p>In June of 2017 we have produced new Windows and OSX binaries (v1.23.0b) that work with PostgreSQL 10 that allow pgAdmin3 LTS to now support PostgreSQL 8.4 thru 10.

<p>&nbsp;<p>

<center><img width=300 height=225 src="{{ url_for('static',filename='img/pgadmin3a.png')}}" /></center>

<h3>Installation for 64-bit Windows 7+ & OSX 10.9+</h3>
<ul>
<li>
You can easily install <code>pgAdmin3 LTS</code> via our <a href="{{config['APPLICATION_ROOT']}}/postgresql/">graphical installers</a> along with our Postgres by BigSQL<br>&nbsp;
</li>
<li>
It's also easy to install stand-alone via our <a href="{{config['APPLICATION_ROOT']}}/package-manager">package manager</a> by just typing <code>pgc install pgadmin3</code>.
</li>
</ul>

{% endblock %}
